<div>
  <div class="page-header">
    <h1>Category: {{ itemCtrl.categoryName }} <button class="btn btn-success align-right" ui-sref="categories">Back</button></h1>
    
  </div>
  <table class="table table-striped">
    <thead>
      <tr class="success">
        <th>Short Name</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody ng-repeat="item in itemCtrl.items">
      <tr class="info">
        <td>{{item.short_name}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price_large}}</td>
      </tr>
    </tbody>
  </table>
</div>